@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --ui-container: 1400px; /* o el valor que quieras */
  font-family: var(--font-sans);
}

body {
  background-color: rgb(10, 10, 10);
}
