@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --ui-bg: #000;
  --ui-text: #fff;
  --ui-border: #000;
  --ui-container: 1400px;
  --ui-primary: #fff;
  --ui-card-bg: #171717;
  --ui-text-inverted: #000;
  --ui-text-highlighted: #fff;
  --swiper-theme-color: #fff;
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(10, 10, 10);
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}
