@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --ui-bg: #000000;
  --ui-text: #ffffff;
  --ui-border: #000000;
  --ui-container: 1400px;
  --ui-primary: #ffffff;
  --ui-card-bg: #171717;
  --ui-text-inverted: #000000;
  --ui-text-highlighted: #ffffff;
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(10, 10, 10);
}
